



    <!--Div that contianer everything-->
    <div class="container">

    <!-- Form test for Crud -->
    
    <form class="edit" id="edit"  method="post">

        <!--Id-->
         <label for="">ID</label>
        <input type="text" name="id" id="id">

        <!--Name-->
        <label for="">Nome</label>
        <input type="text" name="nome" id="nome">

        <!--Email-->
        <label for="">email</label>
        <input type="text" name="email" id="email">

        <!--Tellphone-->
        <label for="">cell</label>
        <input type="text" name="cell" id="cell">

        <!--Password-->
        <label for="">Senha</label>
        <input type="password" name="pass" id="pass">

        <!--Button to Register-->
        <button class="ed" id="ed" type="submit"> Editar </button>
       
    </form>

    </div>

    <!--Execute to Javascript to Model-->
    <script src="../Control/Javascript/index.js"></script>
