<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Css Pure-->
    <link rel="stylesheet" href="css/style.css">

    <title> Teste do Crud </title>

    <!--Bootstrap Part-->
    <link rel="stylesheet" href="css/bootstrap-grid.css"><!--CSS-->
    <script src="js/bootstrap.bundle.js"></script><!--Javascirpt-->

    <!--Jquery Part-->
    <script src="../Control/Jquery/jquery-3.6.0.js"></script>
    

</head>

<body>

    <!--Div that contianer everything-->
    <div class="container">

    <!-- Form test for Crud -->
    
    <form class="edit" id="edit"  method="post">

        <!--Id-->
         <label for="">ID</label>
        <input type="text" name="id" id="id">

        <!--Name-->
        <label for="">Nome</label>
        <input type="text" name="nome" id="nome">

        <!--Email-->
        <label for="">email</label>
        <input type="text" name="email" id="email">

        <!--Tellphone-->
        <label for="">cell</label>
        <input type="text" name="cell" id="cell">

        <!--Password-->
        <label for="">Senha</label>
        <input type="password" name="pass" id="pass">

        <!--Button to Register-->
        <button class="ed" id="ed" type="submit"> Editar </button>
       
    </form>

    </div>

    <div id="res"></div>
    
    <!--Execute to Javascript to Model-->
    <script src="../Control/Javascript/index.js"></script>
</body>
</html>