<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Css Pure-->
    <link rel="stylesheet" href="css/style.css">

    <title> Teste do Crud </title>

    <!--Bootstrap Part-->
    <link rel="stylesheet" href="css/bootstrap-grid.css"><!--CSS-->
    <script src="js/bootstrap.bundle.js"></script><!--Javascirpt-->

    <!--Jquery Part-->
    <script src="../Control/Jquery/jquery-3.6.0.js"></script>
    

</head>

<body>

    <!--Div that contianer everything-->
    <div class="container">

    <!-- Form test for Crud -->
    <form class="form" id="form" method="post">

        <!--Seach-->
        <input type="text" name="sel" id="sel">

        <button class="pes" id="pes" type="submit"> banana </button>
       
    </form>

    </div>


    <table id="res">
        <tr><td></td></tr>
    </table>
    
    <!--Execute to Javascript to Model-->
    <script src="../Control/Javascript/index.js"></script>
</body>
</html>